<!DOCTYPE html>
<html ng-app="AppClubs">
    <head>
        <title>Start Page</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <script src="https://code.angularjs.org/1.5.0/angular.min.js"></script>
        <script src="js/indexcontroller.js"></script>
        <!--link rel="" href=""-->
    </head>
    <body>
        <div ng-controller="mostrarClubs">
            <div>{{ saludo }}</div>
            <div>
                <h2>Clubs</h2>
                <div ng-repeat="club in listaCompletaDeClubs | orderBy: 'nombre'">
                    {{ club.id }} : {{ club.nombre }}
                    <button 
                        ng-click="cargarClubParaEdicion(club.id)"
                        >EDITAR</button>
                    <button 
                        ng-click="eliminarClub(club.id)"
                        >ELIMINAR</button>
                </div>
            </div>
            <div>
                <h2>Nuevo Club</h2>
                <form>
                    <label>Nombre:</label>
                    <input name="nombre" type="text" 
                           ng-model="clubActual.nombre">
                    <label>Descripción</label>
                    <input name="descripcion" type="text" 
                           ng-model="clubActual.descripcion">
                    <button ng-click="guardarClub()"
                            ng-disabled="estaGuardando">Guardar</button>
                </form>
                
            </div>
        </div>
    </body>
</html>



